<nav class= "navbar navbar-expand-sm bg-primary navbar-dark">
<ul class= "navbar-nav">
    <li class= "nav-item">
        <a routerLink= "trips"  routerLinkActive= "active" class= "nav-link"> Trips List</a>
    </li>
    <li class= "nav-item">
        <a routerLink= "create-trip"  routerLinkActive= "active" class= "nav-link"> Create Trip</a>
    </li>
    <li class= "nav-item">
        <a routerLink= "create-user"  routerLinkActive= "active" class= "nav-link"> Create User</a>
    </li>
</ul>
</nav>


<h1 class="text-center">{{title}}</h1>
<div class= "container" >
<router-outlet></router-outlet>
</div>
<footer >
    <div class= "footer">
    <span>Customer Service</span>
</div>
</footer>