<h2>Trips</h2>
<table class= "table table-striped">
<thead>
<tr>
<th>Id</th>
<th>Description</th>
<th>From</th>
<th>To</th>
<th>Departure</th>
<th>Arrival</th>
<th>Reason</th>
<th>Actions</th>

</tr>
</thead>
<tbody>
    <tr  *ngFor = "let trip of trips ">

        <td>{{trip.id}}</td>
        <td>{{trip.tripDescription}}</td>
        <td>{{trip.fromLocation}}</td>
        <td>{{trip.toLocation}}</td>
        <td>{{trip.departureDate}}</td>
        <td>{{trip.arrivalDate}}</td>
        <td>{{trip.tripReason}}</td>
       

    </tr>
</tbody>




</table>
